<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xianxian.power.mapper.CustomerProfileMapper">
    <resultMap id="BaseResultMap" type="com.xianxian.power.model.CustomerProfile">
        <id column="CUSTOMER_ID" property="customerId" jdbcType="VARCHAR"/>
        <result column="CUSOMER_NAME" property="cusomerName" jdbcType="VARCHAR"/>
        <result column="CUSOMER_ADDRESS" property="cusomerAddress" jdbcType="VARCHAR"/>
        <result column="CONTACT_CAPACITY" property="contactCapacity" jdbcType="REAL"/>
        <result column="CUSTOMER_CATEGORY" property="customerCategory" jdbcType="VARCHAR"/>
        <result column="CUSTOMER_FADIAN_FANGSHI" property="customerFadianFangshi" jdbcType="VARCHAR"/>
        <result column="SALE_CATEGORY" property="saleCategory" jdbcType="VARCHAR"/>
        <result column="CUSTOMER_JIERU_FANGSHI" property="customerJieruFangshi" jdbcType="VARCHAR"/>
        <result column="SHI_COMPANY_NAME" property="shiCompanyName" jdbcType="VARCHAR"/>
        <result column="XIAN_COMPANY_NAME" property="xianCompanyName" jdbcType="VARCHAR"/>
        <result column="GONGDIAN_DANWEI_NAME" property="gongdianDanweiName" jdbcType="VARCHAR"/>
        <result column="ORG_NO" property="orgNo" jdbcType="VARCHAR"/>
        <result column="REQUEST_FORM_ID" property="requestFormId" jdbcType="VARCHAR"/>
        <result column="IDENTIFY_NUMBER" property="identifyNumber" jdbcType="VARCHAR"/>
        <result column="BANK_NAME" property="bankName" jdbcType="VARCHAR"/>
        <result column="BANK_ACCOUNT" property="bankAccount" jdbcType="VARCHAR"/>
        <result column="BINGWANG_TIME" property="bingwangTime" jdbcType="TIMESTAMP"/>
        <result column="BINGWANG_DIANYA" property="bingwangDianya" jdbcType="VARCHAR"/>
        <result column="BINGWANG_FANGSHI" property="bingwangFangshi" jdbcType="VARCHAR"/>
        <result column="BUZHU_MODEL" property="buzhuModel" jdbcType="VARCHAR"/>
        <result column="CUSTOMER_TYPE" property="customerType" jdbcType="VARCHAR"/>
        <result column="DANGAN_SHUILV" property="danganShuilv" jdbcType="REAL"/>
    </resultMap>

    <sql id="Base_Column_List">
    CUSTOMER_ID, CUSOMER_NAME, CUSOMER_ADDRESS, CONTACT_CAPACITY, CUSTOMER_CATEGORY, 
    CUSTOMER_FADIAN_FANGSHI, SALE_CATEGORY, CUSTOMER_JIERU_FANGSHI, SHI_COMPANY_NAME, 
    XIAN_COMPANY_NAME, GONGDIAN_DANWEI_NAME, ORG_NO, REQUEST_FORM_ID, IDENTIFY_NUMBER, 
    BANK_NAME, BANK_ACCOUNT, BINGWANG_TIME, BINGWANG_DIANYA, BINGWANG_FANGSHI, BUZHU_MODEL, 
    CUSTOMER_TYPE, DANGAN_SHUILV
  </sql>

    <select id="getAllCustomerProfile" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from CUSTOMER_PROFILE
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from CUSTOMER_PROFILE
        where CUSTOMER_ID = #{customerId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CUSTOMER_PROFILE
    where CUSTOMER_ID = #{customerId,jdbcType=VARCHAR}
  </delete>

    <insert id="insertSelective" parameterType="com.xianxian.power.model.CustomerProfile">
        insert into CUSTOMER_PROFILE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">
                CUSTOMER_ID,
            </if>
            <if test="cusomerName != null">
                CUSOMER_NAME,
            </if>
            <if test="cusomerAddress != null">
                CUSOMER_ADDRESS,
            </if>
            <if test="contactCapacity != null">
                CONTACT_CAPACITY,
            </if>
            <if test="customerCategory != null">
                CUSTOMER_CATEGORY,
            </if>
            <if test="customerFadianFangshi != null">
                CUSTOMER_FADIAN_FANGSHI,
            </if>
            <if test="saleCategory != null">
                SALE_CATEGORY,
            </if>
            <if test="customerJieruFangshi != null">
                CUSTOMER_JIERU_FANGSHI,
            </if>
            <if test="shiCompanyName != null">
                SHI_COMPANY_NAME,
            </if>
            <if test="xianCompanyName != null">
                XIAN_COMPANY_NAME,
            </if>
            <if test="gongdianDanweiName != null">
                GONGDIAN_DANWEI_NAME,
            </if>
            <if test="orgNo != null">
                ORG_NO,
            </if>
            <if test="requestFormId != null">
                REQUEST_FORM_ID,
            </if>
            <if test="identifyNumber != null">
                IDENTIFY_NUMBER,
            </if>
            <if test="bankName != null">
                BANK_NAME,
            </if>
            <if test="bankAccount != null">
                BANK_ACCOUNT,
            </if>
            <if test="bingwangTime != null">
                BINGWANG_TIME,
            </if>
            <if test="bingwangDianya != null">
                BINGWANG_DIANYA,
            </if>
            <if test="bingwangFangshi != null">
                BINGWANG_FANGSHI,
            </if>
            <if test="buzhuModel != null">
                BUZHU_MODEL,
            </if>
            <if test="customerType != null">
                CUSTOMER_TYPE,
            </if>
            <if test="danganShuilv != null">
                DANGAN_SHUILV,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">
                #{customerId,jdbcType=VARCHAR},
            </if>
            <if test="cusomerName != null">
                #{cusomerName,jdbcType=VARCHAR},
            </if>
            <if test="cusomerAddress != null">
                #{cusomerAddress,jdbcType=VARCHAR},
            </if>
            <if test="contactCapacity != null">
                #{contactCapacity,jdbcType=REAL},
            </if>
            <if test="customerCategory != null">
                #{customerCategory,jdbcType=VARCHAR},
            </if>
            <if test="customerFadianFangshi != null">
                #{customerFadianFangshi,jdbcType=VARCHAR},
            </if>
            <if test="saleCategory != null">
                #{saleCategory,jdbcType=VARCHAR},
            </if>
            <if test="customerJieruFangshi != null">
                #{customerJieruFangshi,jdbcType=VARCHAR},
            </if>
            <if test="shiCompanyName != null">
                #{shiCompanyName,jdbcType=VARCHAR},
            </if>
            <if test="xianCompanyName != null">
                #{xianCompanyName,jdbcType=VARCHAR},
            </if>
            <if test="gongdianDanweiName != null">
                #{gongdianDanweiName,jdbcType=VARCHAR},
            </if>
            <if test="orgNo != null">
                #{orgNo,jdbcType=VARCHAR},
            </if>
            <if test="requestFormId != null">
                #{requestFormId,jdbcType=VARCHAR},
            </if>
            <if test="identifyNumber != null">
                #{identifyNumber,jdbcType=VARCHAR},
            </if>
            <if test="bankName != null">
                #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="bankAccount != null">
                #{bankAccount,jdbcType=VARCHAR},
            </if>
            <if test="bingwangTime != null">
                #{bingwangTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bingwangDianya != null">
                #{bingwangDianya,jdbcType=VARCHAR},
            </if>
            <if test="bingwangFangshi != null">
                #{bingwangFangshi,jdbcType=VARCHAR},
            </if>
            <if test="buzhuModel != null">
                #{buzhuModel,jdbcType=VARCHAR},
            </if>
            <if test="customerType != null">
                #{customerType,jdbcType=VARCHAR},
            </if>
            <if test="danganShuilv != null">
                #{danganShuilv,jdbcType=REAL},
            </if>
        </trim>
    </insert>

    <select id="countByCustomerId" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from CUSTOMER_PROFILE  where CUSTOMER_ID = #{customerId,jdbcType=VARCHAR}
    </select>

    <update id="updateSelectiveByPrimaryKey" parameterType="com.xianxian.power.model.CustomerProfile">
        update CUSTOMER_PROFILE
        <set>
            <if test="cusomerName != null">
                CUSOMER_NAME = #{cusomerName,jdbcType=VARCHAR},
            </if>
            <if test="cusomerAddress != null">
                CUSOMER_ADDRESS = #{cusomerAddress,jdbcType=VARCHAR},
            </if>
            <if test="contactCapacity != null">
                CONTACT_CAPACITY = #{contactCapacity,jdbcType=REAL},
            </if>
            <if test="customerCategory != null">
                CUSTOMER_CATEGORY = #{customerCategory,jdbcType=VARCHAR},
            </if>
            <if test="customerFadianFangshi != null">
                CUSTOMER_FADIAN_FANGSHI = #{customerFadianFangshi,jdbcType=VARCHAR},
            </if>
            <if test="saleCategory != null">
                SALE_CATEGORY = #{saleCategory,jdbcType=VARCHAR},
            </if>
            <if test="customerJieruFangshi != null">
                CUSTOMER_JIERU_FANGSHI = #{customerJieruFangshi,jdbcType=VARCHAR},
            </if>
            <if test="shiCompanyName != null">
                SHI_COMPANY_NAME = #{shiCompanyName,jdbcType=VARCHAR},
            </if>
            <if test="xianCompanyName != null">
                XIAN_COMPANY_NAME = #{xianCompanyName,jdbcType=VARCHAR},
            </if>
            <if test="gongdianDanweiName != null">
                GONGDIAN_DANWEI_NAME = #{gongdianDanweiName,jdbcType=VARCHAR},
            </if>
            <if test="orgNo != null">
                ORG_NO = #{orgNo,jdbcType=VARCHAR},
            </if>
            <if test="requestFormId != null">
                REQUEST_FORM_ID = #{requestFormId,jdbcType=VARCHAR},
            </if>
            <if test="identifyNumber != null">
                IDENTIFY_NUMBER = #{identifyNumber,jdbcType=VARCHAR},
            </if>
            <if test="bankName != null">
                BANK_NAME = #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="bankAccount != null">
                BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
            </if>
            <if test="bingwangTime != null">
                BINGWANG_TIME = #{bingwangTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bingwangDianya != null">
                BINGWANG_DIANYA = #{bingwangDianya,jdbcType=VARCHAR},
            </if>
            <if test="bingwangFangshi != null">
                BINGWANG_FANGSHI = #{bingwangFangshi,jdbcType=VARCHAR},
            </if>
            <if test="buzhuModel != null">
                BUZHU_MODEL = #{buzhuModel,jdbcType=VARCHAR},
            </if>
            <if test="customerType != null">
                CUSTOMER_TYPE = #{customerType,jdbcType=VARCHAR},
            </if>
            <if test="danganShuilv != null">
                DANGAN_SHUILV = #{danganShuilv,jdbcType=REAL},
            </if>
        </set>
        where CUSTOMER_ID = #{customerId,jdbcType=VARCHAR}
    </update>
</mapper>