<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xianxian.power.mapper.CustomerDataMapper">
    <resultMap id="BaseResultMap" type="com.xianxian.power.model.CustomerData">
        <result column="indexId" property="indexId" jdbcType="INTEGER"/>
        <result column="CUSTOMER_ID" property="customerId" jdbcType="VARCHAR"/>
        <result column="CUSOMER_NAME" property="cusomerName" jdbcType="VARCHAR"/>
        <result column="DATE_PERIOD" property="datePeriod" jdbcType="TIMESTAMP"/>
        <result column="SALE_CATEGORY" property="saleCategory" jdbcType="VARCHAR"/>
        <result column="CUSTOMER_STATUS" property="customerStatus" jdbcType="VARCHAR"/>
        <result column="CUSTOMER_CATEGORY" property="customerCategory" jdbcType="VARCHAR"/>
        <result column="ZHONGYANG_BUZHU_MODEL" property="zhongyangBuzhuModel" jdbcType="VARCHAR"/>
        <result column="INVOICE_TYPE" property="invoiceType" jdbcType="VARCHAR"/>
        <result column="CUSTOMER_SHUILV" property="customerShuilv" jdbcType="REAL"/>
        <result column="SHANGWANG_POWER_DATA" property="shangwangPowerData" jdbcType="REAL"/>
        <result column="POWER_DATA" property="powerData" jdbcType="REAL"/>
        <result column="SHANGWANG_PRICE" property="shangwangPrice" jdbcType="REAL"/>
        <result column="YINGFU_DIANFEI_YINGXIAO" property="yingfuDianfeiYingxiao" jdbcType="REAL"/>
        <result column="YINGFU_DIANFEI_CAIWU" property="yingfuDianfeiCaiwu" jdbcType="REAL"/>
        <result column="YINGFU_DIANFEI_TAX_YINGXIAO" property="yingfuDianfeiTaxYingxiao" jdbcType="REAL"/>
        <result column="YINGFU_DIANFEI_TAX_CAIWU" property="yingfuDianfeiTaxCaiwu" jdbcType="REAL"/>
        <result column="ZHONGYANG_BUZHU_BIAOZHUN" property="zhongyangBuzhuBiaozhun" jdbcType="REAL"/>
        <result column="ZHONGYANG_BUZHU_ZIJIN_YINGXIAO" property="zhongyangBuzhuZijinYingxiao" jdbcType="REAL"/>
        <result column="ZHONGYANG_BUZHU_ZIJIN_CAIWU" property="zhongyangBuzhuZijinCaiwu" jdbcType="REAL"/>
        <result column="ZHONGYANG_BUZHU_ZIJIN_TAX_YINGXIAO" property="zhongyangBuzhuZijinTaxYingxiao" jdbcType="REAL"/>
        <result column="ZHONGYANG_BUZHU_ZIJIN_TAX_CAIWU" property="zhongyangBuzhuZijinTaxCaiwu" jdbcType="REAL"/>
        <result column="SHENG_BUZHU_BIAOZHUN" property="shengBuzhuBiaozhun" jdbcType="REAL"/>
        <result column="SHENG_BUZHU_ZIJIN_YINGXIAO" property="shengBuzhuZijinYingxiao" jdbcType="REAL"/>
        <result column="SHENG_BUZHU_ZIJIN_CAIWU" property="shengBuzhuZijinCaiwu" jdbcType="REAL"/>
        <result column="SHENG_BUZHU_ZIJIN_TAX_YINGXIAO" property="shengBuzhuZijinTaxYingxiao" jdbcType="REAL"/>
        <result column="SHENG_BUZHU_ZIJIN_TAX_CAIWU" property="shengBuzhuZijinTaxCaiwu" jdbcType="REAL"/>
        <result column="SHI_BUZHU_BIAOZHUN" property="shiBuzhuBiaozhun" jdbcType="REAL"/>
        <result column="SHI_BUZHU_ZIJIN_YINGXIAO" property="shiBuzhuZijinYingxiao" jdbcType="REAL"/>
        <result column="SHI_BUZHU_ZIJIN_CAIWU" property="shiBuzhuZijinCaiwu" jdbcType="REAL"/>
        <result column="SHI_BUZHU_ZIJIN_TAX_YINGXIAO" property="shiBuzhuZijinTaxYingxiao" jdbcType="REAL"/>
        <result column="SHI_BUZHU_ZIJIN_TAX_CAIWU" property="shiBuzhuZijinTaxCaiwu" jdbcType="REAL"/>
        <result column="XIAN_BUZHU_BIAOZHUN" property="xianBuzhuBiaozhun" jdbcType="REAL"/>
        <result column="XIAN_BUZHU_ZIJIN_YINGXIAO" property="xianBuzhuZijinYingxiao" jdbcType="REAL"/>
        <result column="XIAN_BUZHU_ZIJIN_CAIWU" property="xianBuzhuZijinCaiwu" jdbcType="REAL"/>
        <result column="XIAN_BUZHU_ZIJIN_TAX_YINGXIAO" property="xianBuzhuZijinTaxYingxiao" jdbcType="REAL"/>
        <result column="XIAN_BUZHU_ZIJIN_TAX_CAIWU" property="xianBuzhuZijinTaxCaiwu" jdbcType="REAL"/>
        <result column="COMMENTS" property="comments" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SUM" property="accountSum" jdbcType="REAL"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    indexId,CUSTOMER_ID, CUSOMER_NAME, DATE_PERIOD, SALE_CATEGORY, CUSTOMER_STATUS, CUSTOMER_CATEGORY,
    ZHONGYANG_BUZHU_MODEL, INVOICE_TYPE, CUSTOMER_SHUILV, SHANGWANG_POWER_DATA, POWER_DATA, 
    SHANGWANG_PRICE, YINGFU_DIANFEI_YINGXIAO, YINGFU_DIANFEI_CAIWU, YINGFU_DIANFEI_TAX_YINGXIAO, 
    YINGFU_DIANFEI_TAX_CAIWU, ZHONGYANG_BUZHU_BIAOZHUN, ZHONGYANG_BUZHU_ZIJIN_YINGXIAO, 
    ZHONGYANG_BUZHU_ZIJIN_CAIWU, ZHONGYANG_BUZHU_ZIJIN_TAX_YINGXIAO, ZHONGYANG_BUZHU_ZIJIN_TAX_CAIWU, 
    SHENG_BUZHU_BIAOZHUN, SHENG_BUZHU_ZIJIN_YINGXIAO, SHENG_BUZHU_ZIJIN_CAIWU, SHENG_BUZHU_ZIJIN_TAX_YINGXIAO, 
    SHENG_BUZHU_ZIJIN_TAX_CAIWU, SHI_BUZHU_BIAOZHUN, SHI_BUZHU_ZIJIN_YINGXIAO, SHI_BUZHU_ZIJIN_CAIWU, 
    SHI_BUZHU_ZIJIN_TAX_YINGXIAO, SHI_BUZHU_ZIJIN_TAX_CAIWU, XIAN_BUZHU_BIAOZHUN, XIAN_BUZHU_ZIJIN_YINGXIAO, 
    XIAN_BUZHU_ZIJIN_CAIWU, XIAN_BUZHU_ZIJIN_TAX_YINGXIAO, XIAN_BUZHU_ZIJIN_TAX_CAIWU, 
    COMMENTS, ACCOUNT_SUM
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xianxian.power.model.CustomerDataExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from CUSTOMER_DATA
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <delete id="deleteByExample" parameterType="com.xianxian.power.model.CustomerDataExample">
        delete from CUSTOMER_DATA
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.xianxian.power.model.CustomerData">
    insert into CUSTOMER_DATA (CUSTOMER_ID, CUSOMER_NAME, DATE_PERIOD, 
      SALE_CATEGORY, CUSTOMER_STATUS, CUSTOMER_CATEGORY, 
      ZHONGYANG_BUZHU_MODEL, INVOICE_TYPE, CUSTOMER_SHUILV, 
      SHANGWANG_POWER_DATA, POWER_DATA, SHANGWANG_PRICE, 
      YINGFU_DIANFEI_YINGXIAO, YINGFU_DIANFEI_CAIWU, YINGFU_DIANFEI_TAX_YINGXIAO, 
      YINGFU_DIANFEI_TAX_CAIWU, ZHONGYANG_BUZHU_BIAOZHUN, 
      ZHONGYANG_BUZHU_ZIJIN_YINGXIAO, ZHONGYANG_BUZHU_ZIJIN_CAIWU, 
      ZHONGYANG_BUZHU_ZIJIN_TAX_YINGXIAO, ZHONGYANG_BUZHU_ZIJIN_TAX_CAIWU, 
      SHENG_BUZHU_BIAOZHUN, SHENG_BUZHU_ZIJIN_YINGXIAO, 
      SHENG_BUZHU_ZIJIN_CAIWU, SHENG_BUZHU_ZIJIN_TAX_YINGXIAO, 
      SHENG_BUZHU_ZIJIN_TAX_CAIWU, SHI_BUZHU_BIAOZHUN, SHI_BUZHU_ZIJIN_YINGXIAO, 
      SHI_BUZHU_ZIJIN_CAIWU, SHI_BUZHU_ZIJIN_TAX_YINGXIAO, 
      SHI_BUZHU_ZIJIN_TAX_CAIWU, XIAN_BUZHU_BIAOZHUN, XIAN_BUZHU_ZIJIN_YINGXIAO, 
      XIAN_BUZHU_ZIJIN_CAIWU, XIAN_BUZHU_ZIJIN_TAX_YINGXIAO, 
      XIAN_BUZHU_ZIJIN_TAX_CAIWU, COMMENTS, ACCOUNT_SUM
      )
    values (#{customerId,jdbcType=VARCHAR}, #{cusomerName,jdbcType=VARCHAR}, #{datePeriod,jdbcType=TIMESTAMP}, 
      #{saleCategory,jdbcType=VARCHAR}, #{customerStatus,jdbcType=VARCHAR}, #{customerCategory,jdbcType=VARCHAR}, 
      #{zhongyangBuzhuModel,jdbcType=VARCHAR}, #{invoiceType,jdbcType=VARCHAR}, #{customerShuilv,jdbcType=REAL}, 
      #{shangwangPowerData,jdbcType=REAL}, #{powerData,jdbcType=REAL}, #{shangwangPrice,jdbcType=REAL}, 
      #{yingfuDianfeiYingxiao,jdbcType=REAL}, #{yingfuDianfeiCaiwu,jdbcType=REAL}, #{yingfuDianfeiTaxYingxiao,jdbcType=REAL}, 
      #{yingfuDianfeiTaxCaiwu,jdbcType=REAL}, #{zhongyangBuzhuBiaozhun,jdbcType=REAL}, 
      #{zhongyangBuzhuZijinYingxiao,jdbcType=REAL}, #{zhongyangBuzhuZijinCaiwu,jdbcType=REAL}, 
      #{zhongyangBuzhuZijinTaxYingxiao,jdbcType=REAL}, #{zhongyangBuzhuZijinTaxCaiwu,jdbcType=REAL}, 
      #{shengBuzhuBiaozhun,jdbcType=REAL}, #{shengBuzhuZijinYingxiao,jdbcType=REAL}, 
      #{shengBuzhuZijinCaiwu,jdbcType=REAL}, #{shengBuzhuZijinTaxYingxiao,jdbcType=REAL}, 
      #{shengBuzhuZijinTaxCaiwu,jdbcType=REAL}, #{shiBuzhuBiaozhun,jdbcType=REAL}, #{shiBuzhuZijinYingxiao,jdbcType=REAL}, 
      #{shiBuzhuZijinCaiwu,jdbcType=REAL}, #{shiBuzhuZijinTaxYingxiao,jdbcType=REAL}, 
      #{shiBuzhuZijinTaxCaiwu,jdbcType=REAL}, #{xianBuzhuBiaozhun,jdbcType=REAL}, #{xianBuzhuZijinYingxiao,jdbcType=REAL}, 
      #{xianBuzhuZijinCaiwu,jdbcType=REAL}, #{xianBuzhuZijinTaxYingxiao,jdbcType=REAL}, 
      #{xianBuzhuZijinTaxCaiwu,jdbcType=REAL}, #{comments,jdbcType=VARCHAR}, #{accountSum,jdbcType=REAL}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.xianxian.power.model.CustomerData">
        insert into CUSTOMER_DATA
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">
                CUSTOMER_ID,
            </if>
            <if test="cusomerName != null">
                CUSOMER_NAME,
            </if>
            <if test="datePeriod != null">
                DATE_PERIOD,
            </if>
            <if test="saleCategory != null">
                SALE_CATEGORY,
            </if>
            <if test="customerStatus != null">
                CUSTOMER_STATUS,
            </if>
            <if test="customerCategory != null">
                CUSTOMER_CATEGORY,
            </if>
            <if test="zhongyangBuzhuModel != null">
                ZHONGYANG_BUZHU_MODEL,
            </if>
            <if test="invoiceType != null">
                INVOICE_TYPE,
            </if>
            <if test="customerShuilv != null">
                CUSTOMER_SHUILV,
            </if>
            <if test="shangwangPowerData != null">
                SHANGWANG_POWER_DATA,
            </if>
            <if test="powerData != null">
                POWER_DATA,
            </if>
            <if test="shangwangPrice != null">
                SHANGWANG_PRICE,
            </if>
            <if test="yingfuDianfeiYingxiao != null">
                YINGFU_DIANFEI_YINGXIAO,
            </if>
            <if test="yingfuDianfeiCaiwu != null">
                YINGFU_DIANFEI_CAIWU,
            </if>
            <if test="yingfuDianfeiTaxYingxiao != null">
                YINGFU_DIANFEI_TAX_YINGXIAO,
            </if>
            <if test="yingfuDianfeiTaxCaiwu != null">
                YINGFU_DIANFEI_TAX_CAIWU,
            </if>
            <if test="zhongyangBuzhuBiaozhun != null">
                ZHONGYANG_BUZHU_BIAOZHUN,
            </if>
            <if test="zhongyangBuzhuZijinYingxiao != null">
                ZHONGYANG_BUZHU_ZIJIN_YINGXIAO,
            </if>
            <if test="zhongyangBuzhuZijinCaiwu != null">
                ZHONGYANG_BUZHU_ZIJIN_CAIWU,
            </if>
            <if test="zhongyangBuzhuZijinTaxYingxiao != null">
                ZHONGYANG_BUZHU_ZIJIN_TAX_YINGXIAO,
            </if>
            <if test="zhongyangBuzhuZijinTaxCaiwu != null">
                ZHONGYANG_BUZHU_ZIJIN_TAX_CAIWU,
            </if>
            <if test="shengBuzhuBiaozhun != null">
                SHENG_BUZHU_BIAOZHUN,
            </if>
            <if test="shengBuzhuZijinYingxiao != null">
                SHENG_BUZHU_ZIJIN_YINGXIAO,
            </if>
            <if test="shengBuzhuZijinCaiwu != null">
                SHENG_BUZHU_ZIJIN_CAIWU,
            </if>
            <if test="shengBuzhuZijinTaxYingxiao != null">
                SHENG_BUZHU_ZIJIN_TAX_YINGXIAO,
            </if>
            <if test="shengBuzhuZijinTaxCaiwu != null">
                SHENG_BUZHU_ZIJIN_TAX_CAIWU,
            </if>
            <if test="shiBuzhuBiaozhun != null">
                SHI_BUZHU_BIAOZHUN,
            </if>
            <if test="shiBuzhuZijinYingxiao != null">
                SHI_BUZHU_ZIJIN_YINGXIAO,
            </if>
            <if test="shiBuzhuZijinCaiwu != null">
                SHI_BUZHU_ZIJIN_CAIWU,
            </if>
            <if test="shiBuzhuZijinTaxYingxiao != null">
                SHI_BUZHU_ZIJIN_TAX_YINGXIAO,
            </if>
            <if test="shiBuzhuZijinTaxCaiwu != null">
                SHI_BUZHU_ZIJIN_TAX_CAIWU,
            </if>
            <if test="xianBuzhuBiaozhun != null">
                XIAN_BUZHU_BIAOZHUN,
            </if>
            <if test="xianBuzhuZijinYingxiao != null">
                XIAN_BUZHU_ZIJIN_YINGXIAO,
            </if>
            <if test="xianBuzhuZijinCaiwu != null">
                XIAN_BUZHU_ZIJIN_CAIWU,
            </if>
            <if test="xianBuzhuZijinTaxYingxiao != null">
                XIAN_BUZHU_ZIJIN_TAX_YINGXIAO,
            </if>
            <if test="xianBuzhuZijinTaxCaiwu != null">
                XIAN_BUZHU_ZIJIN_TAX_CAIWU,
            </if>
            <if test="comments != null">
                COMMENTS,
            </if>
            <if test="accountSum != null">
                ACCOUNT_SUM,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">
                #{customerId,jdbcType=VARCHAR},
            </if>
            <if test="cusomerName != null">
                #{cusomerName,jdbcType=VARCHAR},
            </if>
            <if test="datePeriod != null">
                #{datePeriod,jdbcType=TIMESTAMP},
            </if>
            <if test="saleCategory != null">
                #{saleCategory,jdbcType=VARCHAR},
            </if>
            <if test="customerStatus != null">
                #{customerStatus,jdbcType=VARCHAR},
            </if>
            <if test="customerCategory != null">
                #{customerCategory,jdbcType=VARCHAR},
            </if>
            <if test="zhongyangBuzhuModel != null">
                #{zhongyangBuzhuModel,jdbcType=VARCHAR},
            </if>
            <if test="invoiceType != null">
                #{invoiceType,jdbcType=VARCHAR},
            </if>
            <if test="customerShuilv != null">
                #{customerShuilv,jdbcType=REAL},
            </if>
            <if test="shangwangPowerData != null">
                #{shangwangPowerData,jdbcType=REAL},
            </if>
            <if test="powerData != null">
                #{powerData,jdbcType=REAL},
            </if>
            <if test="shangwangPrice != null">
                #{shangwangPrice,jdbcType=REAL},
            </if>
            <if test="yingfuDianfeiYingxiao != null">
                #{yingfuDianfeiYingxiao,jdbcType=REAL},
            </if>
            <if test="yingfuDianfeiCaiwu != null">
                #{yingfuDianfeiCaiwu,jdbcType=REAL},
            </if>
            <if test="yingfuDianfeiTaxYingxiao != null">
                #{yingfuDianfeiTaxYingxiao,jdbcType=REAL},
            </if>
            <if test="yingfuDianfeiTaxCaiwu != null">
                #{yingfuDianfeiTaxCaiwu,jdbcType=REAL},
            </if>
            <if test="zhongyangBuzhuBiaozhun != null">
                #{zhongyangBuzhuBiaozhun,jdbcType=REAL},
            </if>
            <if test="zhongyangBuzhuZijinYingxiao != null">
                #{zhongyangBuzhuZijinYingxiao,jdbcType=REAL},
            </if>
            <if test="zhongyangBuzhuZijinCaiwu != null">
                #{zhongyangBuzhuZijinCaiwu,jdbcType=REAL},
            </if>
            <if test="zhongyangBuzhuZijinTaxYingxiao != null">
                #{zhongyangBuzhuZijinTaxYingxiao,jdbcType=REAL},
            </if>
            <if test="zhongyangBuzhuZijinTaxCaiwu != null">
                #{zhongyangBuzhuZijinTaxCaiwu,jdbcType=REAL},
            </if>
            <if test="shengBuzhuBiaozhun != null">
                #{shengBuzhuBiaozhun,jdbcType=REAL},
            </if>
            <if test="shengBuzhuZijinYingxiao != null">
                #{shengBuzhuZijinYingxiao,jdbcType=REAL},
            </if>
            <if test="shengBuzhuZijinCaiwu != null">
                #{shengBuzhuZijinCaiwu,jdbcType=REAL},
            </if>
            <if test="shengBuzhuZijinTaxYingxiao != null">
                #{shengBuzhuZijinTaxYingxiao,jdbcType=REAL},
            </if>
            <if test="shengBuzhuZijinTaxCaiwu != null">
                #{shengBuzhuZijinTaxCaiwu,jdbcType=REAL},
            </if>
            <if test="shiBuzhuBiaozhun != null">
                #{shiBuzhuBiaozhun,jdbcType=REAL},
            </if>
            <if test="shiBuzhuZijinYingxiao != null">
                #{shiBuzhuZijinYingxiao,jdbcType=REAL},
            </if>
            <if test="shiBuzhuZijinCaiwu != null">
                #{shiBuzhuZijinCaiwu,jdbcType=REAL},
            </if>
            <if test="shiBuzhuZijinTaxYingxiao != null">
                #{shiBuzhuZijinTaxYingxiao,jdbcType=REAL},
            </if>
            <if test="shiBuzhuZijinTaxCaiwu != null">
                #{shiBuzhuZijinTaxCaiwu,jdbcType=REAL},
            </if>
            <if test="xianBuzhuBiaozhun != null">
                #{xianBuzhuBiaozhun,jdbcType=REAL},
            </if>
            <if test="xianBuzhuZijinYingxiao != null">
                #{xianBuzhuZijinYingxiao,jdbcType=REAL},
            </if>
            <if test="xianBuzhuZijinCaiwu != null">
                #{xianBuzhuZijinCaiwu,jdbcType=REAL},
            </if>
            <if test="xianBuzhuZijinTaxYingxiao != null">
                #{xianBuzhuZijinTaxYingxiao,jdbcType=REAL},
            </if>
            <if test="xianBuzhuZijinTaxCaiwu != null">
                #{xianBuzhuZijinTaxCaiwu,jdbcType=REAL},
            </if>
            <if test="comments != null">
                #{comments,jdbcType=VARCHAR},
            </if>
            <if test="accountSum != null">
                #{accountSum,jdbcType=REAL},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.xianxian.power.model.CustomerDataExample" resultType="java.lang.Integer">
        select count(*) from CUSTOMER_DATA
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update CUSTOMER_DATA
        <set>
            <if test="record.customerId != null">
                CUSTOMER_ID = #{record.customerId,jdbcType=VARCHAR},
            </if>
            <if test="record.cusomerName != null">
                CUSOMER_NAME = #{record.cusomerName,jdbcType=VARCHAR},
            </if>
            <if test="record.datePeriod != null">
                DATE_PERIOD = #{record.datePeriod,jdbcType=TIMESTAMP},
            </if>
            <if test="record.saleCategory != null">
                SALE_CATEGORY = #{record.saleCategory,jdbcType=VARCHAR},
            </if>
            <if test="record.customerStatus != null">
                CUSTOMER_STATUS = #{record.customerStatus,jdbcType=VARCHAR},
            </if>
            <if test="record.customerCategory != null">
                CUSTOMER_CATEGORY = #{record.customerCategory,jdbcType=VARCHAR},
            </if>
            <if test="record.zhongyangBuzhuModel != null">
                ZHONGYANG_BUZHU_MODEL = #{record.zhongyangBuzhuModel,jdbcType=VARCHAR},
            </if>
            <if test="record.invoiceType != null">
                INVOICE_TYPE = #{record.invoiceType,jdbcType=VARCHAR},
            </if>
            <if test="record.customerShuilv != null">
                CUSTOMER_SHUILV = #{record.customerShuilv,jdbcType=REAL},
            </if>
            <if test="record.shangwangPowerData != null">
                SHANGWANG_POWER_DATA = #{record.shangwangPowerData,jdbcType=REAL},
            </if>
            <if test="record.powerData != null">
                POWER_DATA = #{record.powerData,jdbcType=REAL},
            </if>
            <if test="record.shangwangPrice != null">
                SHANGWANG_PRICE = #{record.shangwangPrice,jdbcType=REAL},
            </if>
            <if test="record.yingfuDianfeiYingxiao != null">
                YINGFU_DIANFEI_YINGXIAO = #{record.yingfuDianfeiYingxiao,jdbcType=REAL},
            </if>
            <if test="record.yingfuDianfeiCaiwu != null">
                YINGFU_DIANFEI_CAIWU = #{record.yingfuDianfeiCaiwu,jdbcType=REAL},
            </if>
            <if test="record.yingfuDianfeiTaxYingxiao != null">
                YINGFU_DIANFEI_TAX_YINGXIAO = #{record.yingfuDianfeiTaxYingxiao,jdbcType=REAL},
            </if>
            <if test="record.yingfuDianfeiTaxCaiwu != null">
                YINGFU_DIANFEI_TAX_CAIWU = #{record.yingfuDianfeiTaxCaiwu,jdbcType=REAL},
            </if>
            <if test="record.zhongyangBuzhuBiaozhun != null">
                ZHONGYANG_BUZHU_BIAOZHUN = #{record.zhongyangBuzhuBiaozhun,jdbcType=REAL},
            </if>
            <if test="record.zhongyangBuzhuZijinYingxiao != null">
                ZHONGYANG_BUZHU_ZIJIN_YINGXIAO = #{record.zhongyangBuzhuZijinYingxiao,jdbcType=REAL},
            </if>
            <if test="record.zhongyangBuzhuZijinCaiwu != null">
                ZHONGYANG_BUZHU_ZIJIN_CAIWU = #{record.zhongyangBuzhuZijinCaiwu,jdbcType=REAL},
            </if>
            <if test="record.zhongyangBuzhuZijinTaxYingxiao != null">
                ZHONGYANG_BUZHU_ZIJIN_TAX_YINGXIAO = #{record.zhongyangBuzhuZijinTaxYingxiao,jdbcType=REAL},
            </if>
            <if test="record.zhongyangBuzhuZijinTaxCaiwu != null">
                ZHONGYANG_BUZHU_ZIJIN_TAX_CAIWU = #{record.zhongyangBuzhuZijinTaxCaiwu,jdbcType=REAL},
            </if>
            <if test="record.shengBuzhuBiaozhun != null">
                SHENG_BUZHU_BIAOZHUN = #{record.shengBuzhuBiaozhun,jdbcType=REAL},
            </if>
            <if test="record.shengBuzhuZijinYingxiao != null">
                SHENG_BUZHU_ZIJIN_YINGXIAO = #{record.shengBuzhuZijinYingxiao,jdbcType=REAL},
            </if>
            <if test="record.shengBuzhuZijinCaiwu != null">
                SHENG_BUZHU_ZIJIN_CAIWU = #{record.shengBuzhuZijinCaiwu,jdbcType=REAL},
            </if>
            <if test="record.shengBuzhuZijinTaxYingxiao != null">
                SHENG_BUZHU_ZIJIN_TAX_YINGXIAO = #{record.shengBuzhuZijinTaxYingxiao,jdbcType=REAL},
            </if>
            <if test="record.shengBuzhuZijinTaxCaiwu != null">
                SHENG_BUZHU_ZIJIN_TAX_CAIWU = #{record.shengBuzhuZijinTaxCaiwu,jdbcType=REAL},
            </if>
            <if test="record.shiBuzhuBiaozhun != null">
                SHI_BUZHU_BIAOZHUN = #{record.shiBuzhuBiaozhun,jdbcType=REAL},
            </if>
            <if test="record.shiBuzhuZijinYingxiao != null">
                SHI_BUZHU_ZIJIN_YINGXIAO = #{record.shiBuzhuZijinYingxiao,jdbcType=REAL},
            </if>
            <if test="record.shiBuzhuZijinCaiwu != null">
                SHI_BUZHU_ZIJIN_CAIWU = #{record.shiBuzhuZijinCaiwu,jdbcType=REAL},
            </if>
            <if test="record.shiBuzhuZijinTaxYingxiao != null">
                SHI_BUZHU_ZIJIN_TAX_YINGXIAO = #{record.shiBuzhuZijinTaxYingxiao,jdbcType=REAL},
            </if>
            <if test="record.shiBuzhuZijinTaxCaiwu != null">
                SHI_BUZHU_ZIJIN_TAX_CAIWU = #{record.shiBuzhuZijinTaxCaiwu,jdbcType=REAL},
            </if>
            <if test="record.xianBuzhuBiaozhun != null">
                XIAN_BUZHU_BIAOZHUN = #{record.xianBuzhuBiaozhun,jdbcType=REAL},
            </if>
            <if test="record.xianBuzhuZijinYingxiao != null">
                XIAN_BUZHU_ZIJIN_YINGXIAO = #{record.xianBuzhuZijinYingxiao,jdbcType=REAL},
            </if>
            <if test="record.xianBuzhuZijinCaiwu != null">
                XIAN_BUZHU_ZIJIN_CAIWU = #{record.xianBuzhuZijinCaiwu,jdbcType=REAL},
            </if>
            <if test="record.xianBuzhuZijinTaxYingxiao != null">
                XIAN_BUZHU_ZIJIN_TAX_YINGXIAO = #{record.xianBuzhuZijinTaxYingxiao,jdbcType=REAL},
            </if>
            <if test="record.xianBuzhuZijinTaxCaiwu != null">
                XIAN_BUZHU_ZIJIN_TAX_CAIWU = #{record.xianBuzhuZijinTaxCaiwu,jdbcType=REAL},
            </if>
            <if test="record.comments != null">
                COMMENTS = #{record.comments,jdbcType=VARCHAR},
            </if>
            <if test="record.accountSum != null">
                ACCOUNT_SUM = #{record.accountSum,jdbcType=REAL},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update CUSTOMER_DATA
        set CUSTOMER_ID = #{record.customerId,jdbcType=VARCHAR},
        CUSOMER_NAME = #{record.cusomerName,jdbcType=VARCHAR},
        DATE_PERIOD = #{record.datePeriod,jdbcType=TIMESTAMP},
        SALE_CATEGORY = #{record.saleCategory,jdbcType=VARCHAR},
        CUSTOMER_STATUS = #{record.customerStatus,jdbcType=VARCHAR},
        CUSTOMER_CATEGORY = #{record.customerCategory,jdbcType=VARCHAR},
        ZHONGYANG_BUZHU_MODEL = #{record.zhongyangBuzhuModel,jdbcType=VARCHAR},
        INVOICE_TYPE = #{record.invoiceType,jdbcType=VARCHAR},
        CUSTOMER_SHUILV = #{record.customerShuilv,jdbcType=REAL},
        SHANGWANG_POWER_DATA = #{record.shangwangPowerData,jdbcType=REAL},
        POWER_DATA = #{record.powerData,jdbcType=REAL},
        SHANGWANG_PRICE = #{record.shangwangPrice,jdbcType=REAL},
        YINGFU_DIANFEI_YINGXIAO = #{record.yingfuDianfeiYingxiao,jdbcType=REAL},
        YINGFU_DIANFEI_CAIWU = #{record.yingfuDianfeiCaiwu,jdbcType=REAL},
        YINGFU_DIANFEI_TAX_YINGXIAO = #{record.yingfuDianfeiTaxYingxiao,jdbcType=REAL},
        YINGFU_DIANFEI_TAX_CAIWU = #{record.yingfuDianfeiTaxCaiwu,jdbcType=REAL},
        ZHONGYANG_BUZHU_BIAOZHUN = #{record.zhongyangBuzhuBiaozhun,jdbcType=REAL},
        ZHONGYANG_BUZHU_ZIJIN_YINGXIAO = #{record.zhongyangBuzhuZijinYingxiao,jdbcType=REAL},
        ZHONGYANG_BUZHU_ZIJIN_CAIWU = #{record.zhongyangBuzhuZijinCaiwu,jdbcType=REAL},
        ZHONGYANG_BUZHU_ZIJIN_TAX_YINGXIAO = #{record.zhongyangBuzhuZijinTaxYingxiao,jdbcType=REAL},
        ZHONGYANG_BUZHU_ZIJIN_TAX_CAIWU = #{record.zhongyangBuzhuZijinTaxCaiwu,jdbcType=REAL},
        SHENG_BUZHU_BIAOZHUN = #{record.shengBuzhuBiaozhun,jdbcType=REAL},
        SHENG_BUZHU_ZIJIN_YINGXIAO = #{record.shengBuzhuZijinYingxiao,jdbcType=REAL},
        SHENG_BUZHU_ZIJIN_CAIWU = #{record.shengBuzhuZijinCaiwu,jdbcType=REAL},
        SHENG_BUZHU_ZIJIN_TAX_YINGXIAO = #{record.shengBuzhuZijinTaxYingxiao,jdbcType=REAL},
        SHENG_BUZHU_ZIJIN_TAX_CAIWU = #{record.shengBuzhuZijinTaxCaiwu,jdbcType=REAL},
        SHI_BUZHU_BIAOZHUN = #{record.shiBuzhuBiaozhun,jdbcType=REAL},
        SHI_BUZHU_ZIJIN_YINGXIAO = #{record.shiBuzhuZijinYingxiao,jdbcType=REAL},
        SHI_BUZHU_ZIJIN_CAIWU = #{record.shiBuzhuZijinCaiwu,jdbcType=REAL},
        SHI_BUZHU_ZIJIN_TAX_YINGXIAO = #{record.shiBuzhuZijinTaxYingxiao,jdbcType=REAL},
        SHI_BUZHU_ZIJIN_TAX_CAIWU = #{record.shiBuzhuZijinTaxCaiwu,jdbcType=REAL},
        XIAN_BUZHU_BIAOZHUN = #{record.xianBuzhuBiaozhun,jdbcType=REAL},
        XIAN_BUZHU_ZIJIN_YINGXIAO = #{record.xianBuzhuZijinYingxiao,jdbcType=REAL},
        XIAN_BUZHU_ZIJIN_CAIWU = #{record.xianBuzhuZijinCaiwu,jdbcType=REAL},
        XIAN_BUZHU_ZIJIN_TAX_YINGXIAO = #{record.xianBuzhuZijinTaxYingxiao,jdbcType=REAL},
        XIAN_BUZHU_ZIJIN_TAX_CAIWU = #{record.xianBuzhuZijinTaxCaiwu,jdbcType=REAL},
        COMMENTS = #{record.comments,jdbcType=VARCHAR},
        ACCOUNT_SUM = #{record.accountSum,jdbcType=REAL}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
</mapper>