<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xianxian.power.mapper.CUSTOMER_PROFILE_NEWMapper" >
  <resultMap id="BaseResultMap" type="com.xianxian.power.model.CUSTOMER_PROFILE_NEW" >
    <id column="indexId" property="indexid" jdbcType="INTEGER" />
    <result column="CUSTOMER_ID" property="customerId" jdbcType="VARCHAR" />
    <result column="CUSTOMER_NAME" property="customerName" jdbcType="VARCHAR" />
    <result column="CUSTOMER_ADDRESS" property="customerAddress" jdbcType="VARCHAR" />
    <result column="CONTACT_CAPACITY" property="contactCapacity" jdbcType="REAL" />
    <result column="CUSTOMER_CATEGORY" property="customerCategory" jdbcType="VARCHAR" />
    <result column="CUSTOMER_FADIAN_FANGSHI" property="customerFadianFangshi" jdbcType="VARCHAR" />
    <result column="SALE_CATEGORY" property="saleCategory" jdbcType="VARCHAR" />
    <result column="CUSTOMER_JIERU_FANGSHI" property="customerJieruFangshi" jdbcType="VARCHAR" />
    <result column="SHI_COMPANY_NAME" property="shiCompanyName" jdbcType="VARCHAR" />
    <result column="XIAN_COMPANY_NAME" property="xianCompanyName" jdbcType="VARCHAR" />
    <result column="GONGDIAN_DANWEI_NAME" property="gongdianDanweiName" jdbcType="VARCHAR" />
    <result column="ORG_NO" property="orgNo" jdbcType="VARCHAR" />
    <result column="REQUEST_FORM_ID" property="requestFormId" jdbcType="VARCHAR" />
    <result column="IDENTIFY_NUMBER" property="identifyNumber" jdbcType="VARCHAR" />
    <result column="BANK_NAME" property="bankName" jdbcType="VARCHAR" />
    <result column="BANK_ACCOUNT" property="bankAccount" jdbcType="VARCHAR" />
    <result column="BINGWANG_TIME" property="bingwangTime" jdbcType="DATE" />
    <result column="BINGWANG_DIANYA" property="bingwangDianya" jdbcType="VARCHAR" />
    <result column="BINGWANG_FANGSHI" property="bingwangFangshi" jdbcType="VARCHAR" />
    <result column="BUZHU_MODEL" property="buzhuModel" jdbcType="VARCHAR" />
    <result column="CUSTOMER_TYPE" property="customerType" jdbcType="VARCHAR" />
    <result column="DANGAN_SHUILV" property="danganShuilv" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    indexId, CUSTOMER_ID, CUSTOMER_NAME, CUSTOMER_ADDRESS, CONTACT_CAPACITY, CUSTOMER_CATEGORY, 
    CUSTOMER_FADIAN_FANGSHI, SALE_CATEGORY, CUSTOMER_JIERU_FANGSHI, SHI_COMPANY_NAME, 
    XIAN_COMPANY_NAME, GONGDIAN_DANWEI_NAME, ORG_NO, REQUEST_FORM_ID, IDENTIFY_NUMBER, 
    BANK_NAME, BANK_ACCOUNT, BINGWANG_TIME, BINGWANG_DIANYA, BINGWANG_FANGSHI, BUZHU_MODEL, 
    CUSTOMER_TYPE, DANGAN_SHUILV
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xianxian.power.model.CUSTOMER_PROFILE_NEWExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CUSTOMER_PROFILE_NEW
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from CUSTOMER_PROFILE_NEW
    where indexId = #{indexid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CUSTOMER_PROFILE_NEW
    where indexId = #{indexid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xianxian.power.model.CUSTOMER_PROFILE_NEWExample" >
    delete from CUSTOMER_PROFILE_NEW
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xianxian.power.model.CUSTOMER_PROFILE_NEW" >
    insert into CUSTOMER_PROFILE_NEW (indexId, CUSTOMER_ID, CUSTOMER_NAME, 
      CUSTOMER_ADDRESS, CONTACT_CAPACITY, CUSTOMER_CATEGORY, 
      CUSTOMER_FADIAN_FANGSHI, SALE_CATEGORY, CUSTOMER_JIERU_FANGSHI, 
      SHI_COMPANY_NAME, XIAN_COMPANY_NAME, GONGDIAN_DANWEI_NAME, 
      ORG_NO, REQUEST_FORM_ID, IDENTIFY_NUMBER, 
      BANK_NAME, BANK_ACCOUNT, BINGWANG_TIME, 
      BINGWANG_DIANYA, BINGWANG_FANGSHI, BUZHU_MODEL, 
      CUSTOMER_TYPE, DANGAN_SHUILV)
    values (#{indexid,jdbcType=INTEGER}, #{customerId,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, 
      #{customerAddress,jdbcType=VARCHAR}, #{contactCapacity,jdbcType=REAL}, #{customerCategory,jdbcType=VARCHAR}, 
      #{customerFadianFangshi,jdbcType=VARCHAR}, #{saleCategory,jdbcType=VARCHAR}, #{customerJieruFangshi,jdbcType=VARCHAR}, 
      #{shiCompanyName,jdbcType=VARCHAR}, #{xianCompanyName,jdbcType=VARCHAR}, #{gongdianDanweiName,jdbcType=VARCHAR}, 
      #{orgNo,jdbcType=VARCHAR}, #{requestFormId,jdbcType=VARCHAR}, #{identifyNumber,jdbcType=VARCHAR}, 
      #{bankName,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, #{bingwangTime,jdbcType=DATE}, 
      #{bingwangDianya,jdbcType=VARCHAR}, #{bingwangFangshi,jdbcType=VARCHAR}, #{buzhuModel,jdbcType=VARCHAR}, 
      #{customerType,jdbcType=VARCHAR}, #{danganShuilv,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.xianxian.power.model.CUSTOMER_PROFILE_NEW" >
    insert into CUSTOMER_PROFILE_NEW
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="indexid != null" >
        indexId,
      </if>
      <if test="customerId != null" >
        CUSTOMER_ID,
      </if>
      <if test="customerName != null" >
        CUSTOMER_NAME,
      </if>
      <if test="customerAddress != null" >
        CUSTOMER_ADDRESS,
      </if>
      <if test="contactCapacity != null" >
        CONTACT_CAPACITY,
      </if>
      <if test="customerCategory != null" >
        CUSTOMER_CATEGORY,
      </if>
      <if test="customerFadianFangshi != null" >
        CUSTOMER_FADIAN_FANGSHI,
      </if>
      <if test="saleCategory != null" >
        SALE_CATEGORY,
      </if>
      <if test="customerJieruFangshi != null" >
        CUSTOMER_JIERU_FANGSHI,
      </if>
      <if test="shiCompanyName != null" >
        SHI_COMPANY_NAME,
      </if>
      <if test="xianCompanyName != null" >
        XIAN_COMPANY_NAME,
      </if>
      <if test="gongdianDanweiName != null" >
        GONGDIAN_DANWEI_NAME,
      </if>
      <if test="orgNo != null" >
        ORG_NO,
      </if>
      <if test="requestFormId != null" >
        REQUEST_FORM_ID,
      </if>
      <if test="identifyNumber != null" >
        IDENTIFY_NUMBER,
      </if>
      <if test="bankName != null" >
        BANK_NAME,
      </if>
      <if test="bankAccount != null" >
        BANK_ACCOUNT,
      </if>
      <if test="bingwangTime != null" >
        BINGWANG_TIME,
      </if>
      <if test="bingwangDianya != null" >
        BINGWANG_DIANYA,
      </if>
      <if test="bingwangFangshi != null" >
        BINGWANG_FANGSHI,
      </if>
      <if test="buzhuModel != null" >
        BUZHU_MODEL,
      </if>
      <if test="customerType != null" >
        CUSTOMER_TYPE,
      </if>
      <if test="danganShuilv != null" >
        DANGAN_SHUILV,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="indexid != null" >
        #{indexid,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerAddress != null" >
        #{customerAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactCapacity != null" >
        #{contactCapacity,jdbcType=REAL},
      </if>
      <if test="customerCategory != null" >
        #{customerCategory,jdbcType=VARCHAR},
      </if>
      <if test="customerFadianFangshi != null" >
        #{customerFadianFangshi,jdbcType=VARCHAR},
      </if>
      <if test="saleCategory != null" >
        #{saleCategory,jdbcType=VARCHAR},
      </if>
      <if test="customerJieruFangshi != null" >
        #{customerJieruFangshi,jdbcType=VARCHAR},
      </if>
      <if test="shiCompanyName != null" >
        #{shiCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="xianCompanyName != null" >
        #{xianCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="gongdianDanweiName != null" >
        #{gongdianDanweiName,jdbcType=VARCHAR},
      </if>
      <if test="orgNo != null" >
        #{orgNo,jdbcType=VARCHAR},
      </if>
      <if test="requestFormId != null" >
        #{requestFormId,jdbcType=VARCHAR},
      </if>
      <if test="identifyNumber != null" >
        #{identifyNumber,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bingwangTime != null" >
        #{bingwangTime,jdbcType=DATE},
      </if>
      <if test="bingwangDianya != null" >
        #{bingwangDianya,jdbcType=VARCHAR},
      </if>
      <if test="bingwangFangshi != null" >
        #{bingwangFangshi,jdbcType=VARCHAR},
      </if>
      <if test="buzhuModel != null" >
        #{buzhuModel,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null" >
        #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="danganShuilv != null" >
        #{danganShuilv,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xianxian.power.model.CUSTOMER_PROFILE_NEWExample" resultType="java.lang.Integer" >
    select count(*) from CUSTOMER_PROFILE_NEW
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CUSTOMER_PROFILE_NEW
    <set >
      <if test="record.indexid != null" >
        indexId = #{record.indexid,jdbcType=INTEGER},
      </if>
      <if test="record.customerId != null" >
        CUSTOMER_ID = #{record.customerId,jdbcType=VARCHAR},
      </if>
      <if test="record.customerName != null" >
        CUSTOMER_NAME = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.customerAddress != null" >
        CUSTOMER_ADDRESS = #{record.customerAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.contactCapacity != null" >
        CONTACT_CAPACITY = #{record.contactCapacity,jdbcType=REAL},
      </if>
      <if test="record.customerCategory != null" >
        CUSTOMER_CATEGORY = #{record.customerCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.customerFadianFangshi != null" >
        CUSTOMER_FADIAN_FANGSHI = #{record.customerFadianFangshi,jdbcType=VARCHAR},
      </if>
      <if test="record.saleCategory != null" >
        SALE_CATEGORY = #{record.saleCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.customerJieruFangshi != null" >
        CUSTOMER_JIERU_FANGSHI = #{record.customerJieruFangshi,jdbcType=VARCHAR},
      </if>
      <if test="record.shiCompanyName != null" >
        SHI_COMPANY_NAME = #{record.shiCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="record.xianCompanyName != null" >
        XIAN_COMPANY_NAME = #{record.xianCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="record.gongdianDanweiName != null" >
        GONGDIAN_DANWEI_NAME = #{record.gongdianDanweiName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgNo != null" >
        ORG_NO = #{record.orgNo,jdbcType=VARCHAR},
      </if>
      <if test="record.requestFormId != null" >
        REQUEST_FORM_ID = #{record.requestFormId,jdbcType=VARCHAR},
      </if>
      <if test="record.identifyNumber != null" >
        IDENTIFY_NUMBER = #{record.identifyNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.bankName != null" >
        BANK_NAME = #{record.bankName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankAccount != null" >
        BANK_ACCOUNT = #{record.bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.bingwangTime != null" >
        BINGWANG_TIME = #{record.bingwangTime,jdbcType=DATE},
      </if>
      <if test="record.bingwangDianya != null" >
        BINGWANG_DIANYA = #{record.bingwangDianya,jdbcType=VARCHAR},
      </if>
      <if test="record.bingwangFangshi != null" >
        BINGWANG_FANGSHI = #{record.bingwangFangshi,jdbcType=VARCHAR},
      </if>
      <if test="record.buzhuModel != null" >
        BUZHU_MODEL = #{record.buzhuModel,jdbcType=VARCHAR},
      </if>
      <if test="record.customerType != null" >
        CUSTOMER_TYPE = #{record.customerType,jdbcType=VARCHAR},
      </if>
      <if test="record.danganShuilv != null" >
        DANGAN_SHUILV = #{record.danganShuilv,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CUSTOMER_PROFILE_NEW
    set indexId = #{record.indexid,jdbcType=INTEGER},
      CUSTOMER_ID = #{record.customerId,jdbcType=VARCHAR},
      CUSTOMER_NAME = #{record.customerName,jdbcType=VARCHAR},
      CUSTOMER_ADDRESS = #{record.customerAddress,jdbcType=VARCHAR},
      CONTACT_CAPACITY = #{record.contactCapacity,jdbcType=REAL},
      CUSTOMER_CATEGORY = #{record.customerCategory,jdbcType=VARCHAR},
      CUSTOMER_FADIAN_FANGSHI = #{record.customerFadianFangshi,jdbcType=VARCHAR},
      SALE_CATEGORY = #{record.saleCategory,jdbcType=VARCHAR},
      CUSTOMER_JIERU_FANGSHI = #{record.customerJieruFangshi,jdbcType=VARCHAR},
      SHI_COMPANY_NAME = #{record.shiCompanyName,jdbcType=VARCHAR},
      XIAN_COMPANY_NAME = #{record.xianCompanyName,jdbcType=VARCHAR},
      GONGDIAN_DANWEI_NAME = #{record.gongdianDanweiName,jdbcType=VARCHAR},
      ORG_NO = #{record.orgNo,jdbcType=VARCHAR},
      REQUEST_FORM_ID = #{record.requestFormId,jdbcType=VARCHAR},
      IDENTIFY_NUMBER = #{record.identifyNumber,jdbcType=VARCHAR},
      BANK_NAME = #{record.bankName,jdbcType=VARCHAR},
      BANK_ACCOUNT = #{record.bankAccount,jdbcType=VARCHAR},
      BINGWANG_TIME = #{record.bingwangTime,jdbcType=DATE},
      BINGWANG_DIANYA = #{record.bingwangDianya,jdbcType=VARCHAR},
      BINGWANG_FANGSHI = #{record.bingwangFangshi,jdbcType=VARCHAR},
      BUZHU_MODEL = #{record.buzhuModel,jdbcType=VARCHAR},
      CUSTOMER_TYPE = #{record.customerType,jdbcType=VARCHAR},
      DANGAN_SHUILV = #{record.danganShuilv,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xianxian.power.model.CUSTOMER_PROFILE_NEW" >
    update CUSTOMER_PROFILE_NEW
    <set >
      <if test="customerId != null" >
        CUSTOMER_ID = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerAddress != null" >
        CUSTOMER_ADDRESS = #{customerAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactCapacity != null" >
        CONTACT_CAPACITY = #{contactCapacity,jdbcType=REAL},
      </if>
      <if test="customerCategory != null" >
        CUSTOMER_CATEGORY = #{customerCategory,jdbcType=VARCHAR},
      </if>
      <if test="customerFadianFangshi != null" >
        CUSTOMER_FADIAN_FANGSHI = #{customerFadianFangshi,jdbcType=VARCHAR},
      </if>
      <if test="saleCategory != null" >
        SALE_CATEGORY = #{saleCategory,jdbcType=VARCHAR},
      </if>
      <if test="customerJieruFangshi != null" >
        CUSTOMER_JIERU_FANGSHI = #{customerJieruFangshi,jdbcType=VARCHAR},
      </if>
      <if test="shiCompanyName != null" >
        SHI_COMPANY_NAME = #{shiCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="xianCompanyName != null" >
        XIAN_COMPANY_NAME = #{xianCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="gongdianDanweiName != null" >
        GONGDIAN_DANWEI_NAME = #{gongdianDanweiName,jdbcType=VARCHAR},
      </if>
      <if test="orgNo != null" >
        ORG_NO = #{orgNo,jdbcType=VARCHAR},
      </if>
      <if test="requestFormId != null" >
        REQUEST_FORM_ID = #{requestFormId,jdbcType=VARCHAR},
      </if>
      <if test="identifyNumber != null" >
        IDENTIFY_NUMBER = #{identifyNumber,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        BANK_NAME = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bingwangTime != null" >
        BINGWANG_TIME = #{bingwangTime,jdbcType=DATE},
      </if>
      <if test="bingwangDianya != null" >
        BINGWANG_DIANYA = #{bingwangDianya,jdbcType=VARCHAR},
      </if>
      <if test="bingwangFangshi != null" >
        BINGWANG_FANGSHI = #{bingwangFangshi,jdbcType=VARCHAR},
      </if>
      <if test="buzhuModel != null" >
        BUZHU_MODEL = #{buzhuModel,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null" >
        CUSTOMER_TYPE = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="danganShuilv != null" >
        DANGAN_SHUILV = #{danganShuilv,jdbcType=REAL},
      </if>
    </set>
    where indexId = #{indexid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xianxian.power.model.CUSTOMER_PROFILE_NEW" >
    update CUSTOMER_PROFILE_NEW
    set CUSTOMER_ID = #{customerId,jdbcType=VARCHAR},
      CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      CUSTOMER_ADDRESS = #{customerAddress,jdbcType=VARCHAR},
      CONTACT_CAPACITY = #{contactCapacity,jdbcType=REAL},
      CUSTOMER_CATEGORY = #{customerCategory,jdbcType=VARCHAR},
      CUSTOMER_FADIAN_FANGSHI = #{customerFadianFangshi,jdbcType=VARCHAR},
      SALE_CATEGORY = #{saleCategory,jdbcType=VARCHAR},
      CUSTOMER_JIERU_FANGSHI = #{customerJieruFangshi,jdbcType=VARCHAR},
      SHI_COMPANY_NAME = #{shiCompanyName,jdbcType=VARCHAR},
      XIAN_COMPANY_NAME = #{xianCompanyName,jdbcType=VARCHAR},
      GONGDIAN_DANWEI_NAME = #{gongdianDanweiName,jdbcType=VARCHAR},
      ORG_NO = #{orgNo,jdbcType=VARCHAR},
      REQUEST_FORM_ID = #{requestFormId,jdbcType=VARCHAR},
      IDENTIFY_NUMBER = #{identifyNumber,jdbcType=VARCHAR},
      BANK_NAME = #{bankName,jdbcType=VARCHAR},
      BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
      BINGWANG_TIME = #{bingwangTime,jdbcType=DATE},
      BINGWANG_DIANYA = #{bingwangDianya,jdbcType=VARCHAR},
      BINGWANG_FANGSHI = #{bingwangFangshi,jdbcType=VARCHAR},
      BUZHU_MODEL = #{buzhuModel,jdbcType=VARCHAR},
      CUSTOMER_TYPE = #{customerType,jdbcType=VARCHAR},
      DANGAN_SHUILV = #{danganShuilv,jdbcType=REAL}
    where indexId = #{indexid,jdbcType=INTEGER}
  </update>
</mapper>